@{
    ViewData["Title"] = "HomeCustomer";
    Layout = "_Layout - Customer";
}

<h1>Welkom bij PatatzaakOfficeel</h1>
<p>Ontdek ons heerlijke menu en plaats je bestelling!</p>
<a href="~/Products/CustomerMenu" class="btn btn-primary">Bekijk Menu</a>

<section class="mt-4">
    <h2>Ons Menu</h2>
    <p>Bekijk onze heerlijke gerechten en kies je favorieten.</p>
    <ul>
        <li>Cheesburger</li>
        <li>Friet Special XXL</li>
        <li>Frikadel XXL </li>
    </ul>
    <a href="~/Products/CustomerMenu" class="btn btn-primary">Bekijk Menu</a>

</section>



<section class="mt-4">
    <h2>Contact</h2>
    <p>Neem contact met ons op voor vragen en opmerkingen.</p>
    <p>Ons e-mailadres: info@patatzaakofficeel.com</p>
    <p>Ons telefoonnummer: 0687954477
</section>



